{% extends "core_loggedin.html" %}
{% load static %}

{% block title %}CRM - Dodaj Klienta{% endblock %}
{% block content %}

    <h1>Dodaj klienta</h1>
{#    <form action = "url z urlsow" method="POST">#}
    <form action = "add_customer" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Zapisz">
    </form>
{% endblock %}