{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRM{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  </head>
<body>

    <div class="content">

        {% block content %}{% endblock %}

    </div>
    <div class="footer">
        Copyright &copy; 2020
    </div>

    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/foundation.js' %}"></script>

</body>
</html>
