{% extends "core_loggedin.html" %}
{% load static %}

{% block title %}CRM - Klienci{% endblock %}
{% block content %}
    {% csrf_token %}
    <h1>Lista Klientow</h1>
    <table class="table-expand">
        <thead>
          <tr class="table-expand-row">
            <th class="text-left width="500">Nazwa Klienta</th>
            <th class="text-left">Adres</th>
            <th class="text-left">NIP</th>
            <th class="text-left width="150">REGON</th>
            <th class="text-left">Akcje </th>
          </tr>
        </thead>
        <tbody>

        {% for customer in customers %}
            <tr class="table-expand-row" data-open-details>
                <td class="text-left">
                    {{ customer.longname }}
                </td>
                <td class="text-left">
                    {{ customer.address_street }}
                    {{ customer.address_number }}/{{ customer.address_local_number }}
                    {{ customer.address_postal_code }} {{ customer.address_city }}
                </td>
                <td>
                    {{ customer.tax_number }}
                </td>
                <td class="text-left">
                    {{ customer.regon }}
                </td>
                <td>
                    Rozwiń <span class="expand-icon"></span>
                </td>
            </tr>
            <tr class="table-expand-row-content">
                <td colspan="8" class="table-expand-row-nested">
{#                    {% if user.is_staff %}#}
                    <p><a href="{{request.build_absolute_uri}}customers/delete/{{ customer.id }}" method="post">Kasuj</a></p>
{#                    {% endif %}#}
                    <p>Akcja 2</p>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
            <div class="paginator">
            <span class="pagination-next">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
            <span class="pagination">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
             </span>
            </div>

{% endblock %}
