{% extends "core_empty.html" %}
{% load static %}

{% block title %}CRM{% endblock %}
{% block content %}
<div class="login-div">
<form class="log-in-form" action="/login/auth" method="post" style="text-align: left">
    {% csrf_token %}
    <h4 class="text-center">
        Log in with you email account
    </h4>
    <label>
          Email
          <input type="email" name="email" placeholder="somebody@example.com">
    </label>
    <label>Password
        <input type="password" name="password" placeholder="Password">
    </label>
    <input id="show-password" type="checkbox">
        <label for="show-password">
            Show password
        </label>
    <p>
        <input type="submit" class="button expanded" value="Log in">
    </p>
    <p class="text-center">
        <a href="#">Forgot your password?</a>
    </p>
</form>
</div>
{% endblock %}