<div class="header-grid">
  <div id="b1" class="block">Test 1</div>
  <div id="b2" class="block">Test 2</div>
  <div id="b3" class="block">Test 3</div>
  <div id="b4" class="block">Test 4</div>
  <div class="bottom-block">
    <div id="b5" class="block">Test 5</div>
    <div id="b6" class="block">Test 6</div>
    <div id="b7" class="block">Test 7</div>
  </div>
</div>